SharedInfrastructure/ContentV1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
  <definitions
      name="ContentV1Service"
      targetNamespace="http://model.services.contactcentre.kana.com/ContentV1Service.wsdl"
      xmlns="http://schemas.xmlsoap.org/wsdl/"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:tns="http://model.services.contactcentre.kana.com/ContentV1Service.wsdl"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Created by Verint on Tue Sep 01 13:43:16 CDT 2020. See http://www.kana.com for more details. -->
    <types>
      <xsd:schema
          elementFormDefault="unqualified"
          targetNamespace="http://model.services.contactcentre.kana.com/ContentV1Service.wsdl">
        <xsd:complexType
            name="Version">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="version"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="publishedDate"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="title"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GTMap">
          <xsd:sequence />
        </xsd:complexType>
        <xsd:complexType
            name="ViewFieldDefinition">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="fieldType"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="viewSequence"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="showLabel"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="fieldDisplayName"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="fieldName"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ContentViewDefinition">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="viewFields"
                type="tns:ViewFieldDefinitionList" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ErrorMessage">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="code"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="message"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ErrorList">
          <xsd:sequence>
            <xsd:element
                maxOccurs="unbounded"
                minOccurs="0"
                name="ErrorMessage"
                type="tns:ErrorMessage" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ViewFieldDefinitionList">
          <xsd:sequence>
            <xsd:element
                maxOccurs="unbounded"
                minOccurs="0"
                name="ViewFieldDefinition"
                type="tns:ViewFieldDefinition" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ContentDetails">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="publishedId"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="numberOfRatings"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="accessControls"
                type="tns:StringItemList" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="version"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="isMigratable"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="viewCount"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="isFeatured"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="body"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="isDeleted"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="averageRating"
                type="xsd:float" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="mustRead"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="id"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="viewDefinition"
                type="tns:ContentViewDefinition" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="language"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="bodyMap"
                type="tns:GTMap" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="description"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="locale"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="translatedTo"
                type="tns:StringItemList" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="weighting"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentType"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentCategory"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="lastModifiedDate"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="title"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ContentVersionsResultSet">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="Versions"
                type="tns:ContentVersionList" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="totalVersions"
                type="xsd:integer" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="StringItemList">
          <xsd:sequence>
            <xsd:element
                maxOccurs="unbounded"
                minOccurs="0"
                name="StringItem"
                type="tns:StringItem" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="ContentVersionList">
          <xsd:sequence>
            <xsd:element
                maxOccurs="unbounded"
                minOccurs="0"
                name="Version"
                type="tns:Version" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="StringItem">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="value"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetContentDetailsRequestBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="applicationID"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentID"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="convertFieldsToMap"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="locale"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="password"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="username"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="verbose"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="version"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="workflowState"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetContentDetailsResponseBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="response"
                type="tns:ContentDetails" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="errorList"
                type="tns:ErrorList" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetContentVersionsRequestBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="applicationID"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="locale"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="username"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentID"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="startRow"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="pageSize"
                type="xsd:integer" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="sortAscending"
                type="xsd:boolean" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="showMinorVersions"
                type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetContentVersionsResponseBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="response"
                type="tns:ContentVersionsResultSet" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="errorList"
                type="tns:ErrorList" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetViewDefinitionRequestBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentId"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="locale"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="version"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="contentCategoryTag"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="username"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="password"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="applicationID"
                type="xsd:string" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="viewName"
                type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType
            name="GetViewDefinitionResponseBodyType">
          <xsd:sequence>
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="errorList"
                type="tns:ErrorList" />
            <xsd:element
                maxOccurs="1"
                minOccurs="1"
                name="response"
                type="tns:ContentViewDefinition" />
          </xsd:sequence>
        </xsd:complexType>
        <xsd:element
            name="GetContentDetailsRequest"
            type="tns:GetContentDetailsRequestBodyType" />
        <xsd:element
            name="GetContentDetailsResponse"
            type="tns:GetContentDetailsResponseBodyType" />
        <xsd:element
            name="GetContentVersionsRequest"
            type="tns:GetContentVersionsRequestBodyType" />
        <xsd:element
            name="GetContentVersionsResponse"
            type="tns:GetContentVersionsResponseBodyType" />
        <xsd:element
            name="GetViewDefinitionRequest"
            type="tns:GetViewDefinitionRequestBodyType" />
        <xsd:element
            name="GetViewDefinitionResponse"
            type="tns:GetViewDefinitionResponseBodyType" />
      </xsd:schema>
    </types>
    <message
        name="GetContentDetailsRequest">
      <part
          element="tns:GetContentDetailsRequest"
          name="body" />
    </message>
    <message
        name="GetContentDetailsResponse">
      <part
          element="tns:GetContentDetailsResponse"
          name="body" />
    </message>
    <message
        name="GetContentVersionsRequest">
      <part
          element="tns:GetContentVersionsRequest"
          name="body" />
    </message>
    <message
        name="GetContentVersionsResponse">
      <part
          element="tns:GetContentVersionsResponse"
          name="body" />
    </message>
    <message
        name="GetViewDefinitionRequest">
      <part
          element="tns:GetViewDefinitionRequest"
          name="body" />
    </message>
    <message
        name="GetViewDefinitionResponse">
      <part
          element="tns:GetViewDefinitionResponse"
          name="body" />
    </message>
    <portType
        name="ContentV1PortType">
      <operation
          name="GetContentDetails">
        <input
            message="tns:GetContentDetailsRequest" />
        <output
            message="tns:GetContentDetailsResponse" />
      </operation>
      <operation
          name="GetContentVersions">
        <input
            message="tns:GetContentVersionsRequest" />
        <output
            message="tns:GetContentVersionsResponse" />
      </operation>
      <operation
          name="GetViewDefinition">
        <input
            message="tns:GetViewDefinitionRequest" />
        <output
            message="tns:GetViewDefinitionResponse" />
      </operation>
    </portType>
    <binding
        name="ContentV1Binding"
        type="tns:ContentV1PortType">
      <soap:binding
          style="document"
          transport="http://schemas.xmlsoap.org/soap/http" />
      <operation
          name="GetContentDetails">
        <soap:operation
            soapAction="ContentV1Service#GetContentDetails" />
        <input>
          <soap:body
              use="literal" />
        </input>
        <output>
          <soap:body
              use="literal" />
        </output>
      </operation>
      <operation
          name="GetContentVersions">
        <soap:operation
            soapAction="ContentV1Service#GetContentVersions" />
        <input>
          <soap:body
              use="literal" />
        </input>
        <output>
          <soap:body
              use="literal" />
        </output>
      </operation>
      <operation
          name="GetViewDefinition">
        <soap:operation
            soapAction="ContentV1Service#GetViewDefinition" />
        <input>
          <soap:body
              use="literal" />
        </input>
        <output>
          <soap:body
              use="literal" />
        </output>
      </operation>
    </binding>
    <service
        name="ContentV1Service">
      <documentation>
        Externally visible APIs for KM Content
      </documentation>
      <port
          binding="tns:ContentV1Binding"
          name="ContentV1Port">
        <soap:address
            location="http://127.0.0.1:8280/GTConnect/StatelessSoapAcceptor/?gtxInitialProcess=AddKnowContentServices.API.ContentService.ContentV1" />
      </port>
    </service>
  </definitions>
